<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
            <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" />
            <title>赛特雷德</title>
            <link rel="stylesheet" type="text/css" href="{APP_PATH}/statics/assets/css/reset.css"/>
            <script type="text/javascript" src="{APP_PATH}/statics/assets/js/jquery-1.8.3.min.js"></script>
            <script type="text/javascript" src="{APP_PATH}/statics/assets/js/js_z.js"></script>
            <link rel="stylesheet" type="text/css" href="{APP_PATH}/statics/assets/css/thems.css">
                </head>

                <body>
                    <!--头部-->
                    <div class="head clearfix">
                        <div class="logo"><a href="index.html"><img src="{APP_PATH}/statics/assets/images/logo.png" alt=""/></a></div>
                        <ul class="nav clearfix">
                            <li>
                                <a href="{APP_PATH}">
                                    <em>公司首页</em>
                                    HOME
                                </a>
                            </li>
                            <li {if $catid==9}class="now"{/if}>
                                <a href="{APP_PATH}index.php?m=content&c=index&a=lists&catid=9">
                                    <em>产品与方案</em>
                                    PRODUCT
                                </a>
                            </li>
                            <li {if $catid==10}class="now"{/if}>
                                <a href="{APP_PATH}index.php?m=content&c=index&a=lists&catid=10">
                                    <em>服务与支持</em>
                                    SERVICE
                                </a>
                            </li>
                            <li>
                                <a href="news.html">
                                    <em>新闻中心</em>
                                    NEWS
                                </a>
                            </li>
                            <li>
                                <a href="about.html">
                                    <em>关于我们</em>
                                    ABOUT US
                                </a>
                            </li>
                        </ul>
                        <div class="search">
                            <div class="s_m">
                                <input name="" type="text" placeholder="请输入你查询的…">
                                    <input name="" type="submit" value="">
                                        </div>
                                        <p class="tip">热门搜索：<a href="">易学车科目二智能考试系统</a></p>
                                        </div>
                                        </div>
                                        <!--头部-->